/* styles.css */
.body_home {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    text-align: center;
}

.header_home {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

.container_home {
    max-width: 800px;
    margin: 2rem auto;
    padding: 0 2rem;
}

.h1_home {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.p_home {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 2rem;
}

.btn_home {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn_home:hover {
    background-color: #0056b3;
}
