<h1 class="h1_home">Welcome to Our Social Media App</h1>
<div class="container_home">
  <p class="p_home">
    Connect with friends, share photos and updates, and stay in touch with what
    matters to you.
  </p>
  <p class="p_home">
    Kindly SignUp if you are new user.
    Login if you are existing user. to Navigate to any other pages
  </p>
  <a href="/api/user/register" class="btn_home">Sign Up</a>
  <a href="/api/user/login" class="btn_home">Log In</a>
</div>
